## @(#) : gitignore for textlint filter (skip-frontmatter)
#
# @version	1.0.0
# @author   atsushifx <https://github.com/atsushifx/>
# @since    2025-04-11
#
# @description<<
#
# Git ignore rules for development template
# Includes OS Specific  files, VSCode, general(logs, patch, ...)
#
#<<

##		General
#	OS specific files
.DS_Store
thumbs.db

#	logs, patches
*.log*
*.diff
*.patch

# 	history, cache
.history/
.cache/
**/*cache


#	backup/swap/temp
$~*
~*
*~
*tmp
*swp
*lock

#	env
.env*

##		Editor
#	VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/cspell*

###	Develop
# Node
node_modules
