## @(#) : gitignore for textlint filter (skip-frontmatter)
#
# @version	1.0.0
# @author   atsushifx <atsushifx@gmail.com>
# @since    2025-04-11
#
# @description<<
#
# Git ignore rules for development template
# Includes OS Specific  files, VSCode, general(logs, patch, ...)
#
#<<

##		General
#	OS specific files
.DS_Store
thumbs.db

#	logs, patches
*.log*
*.diff
*.patch

# 	history, cache
.history/
*cache*

#	backup/swap/temp
$~*
~*
*~
*tmp
*swp
*lock

##		Editor
#	VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/cspell*

###	Develop
# Node
node_modules
