# src: .gitignore
# @(#) : gitignore for textlint filter (skip-frontmatter)
#
# Copyright (c) 2025 atsushifx <http://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

##  General
# S specific files
.DS_Store
thumbs.db

# logs
*.log
logs

# patches
*.diff
*.patch

# history
.history/

# cache
.cache/
**/*cache

# env
.env.key*
.env.*.local
.env*

#	backup/swap/temp
$~*
~*
*~
*tmp
*swp
*lock

## temporary directory
**/temp/
**/tmp/

##		Editor
#	VSCode
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
!**/.vscode/*.code-snippets
!**/.vscode/cspell*



###	AI Agent
# claude code
**/.claude/*
.claude/*
!.clause/setting.json
!.claude/commands
!.claude/commands/*

# CLAUDE Memory file
!CLAUDE*.md
!AGENTS.md

## mcp settings/server's config
!.mcp.json
# mcp server's folder
.serena
.lsmcp


###	Develop
# Node
node_modules
