# yaml-language-server: $schema=https://raw.githubusercontent.com/suzuki-shunsuke/ghalint/main/json-schema/ghalint.json
# src: ./configs/ghalint.yaml
# @(#) : ghalint configuration file
#
# Copyright (c) 2025 atsushifx <https://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

# Exclude specific policies if needed
excludes:
  # Allow version tags for reusable workflow calls instead of SHA pinning
  - policy_name: action_ref_should_be_full_length_commit_sha
    workflow_file_path: .github/workflows/ci-scan-all.yml
    job_name: actionlint
    action_name: atsushifx/.github/.github/workflows/ci-common-lint-actionlint.yml
  - policy_name: action_ref_should_be_full_length_commit_sha
    workflow_file_path: .github/workflows/ci-scan-all.yml
    job_name: ghalint
    action_name: atsushifx/.github/.github/workflows/ci-common-lint-ghalint.yml
  - policy_name: action_ref_should_be_full_length_commit_sha
    workflow_file_path: .github/workflows/ci-scan-all.yml
    job_name: scan-gitleaks
    action_name: atsushifx/.github/.github/workflows/ci-common-scan-gitleaks.yml
